In [23]:
import pandas as pd
import mysql.connector

In [45]:
# Connect to MySQL database
conn = mysql.connector.connect(
    host="localhost",
    user="tuhu",
    password="*Tuhu62519157",
)

#### Answer to question 2a

In [46]:
# Create cursor
cursor = conn.cursor()

try:
    # Create schema
    cursor.execute("CREATE SCHEMA IF NOT EXISTS `Bookstore POS System`;")
    print("Schema created successfully.")

except mysql.connector.Error as e:
    print("Error creating schema:", e)

try:
    # Create customers table
    cursor.execute("""
        CREATE TABLE IF NOT EXISTS `Bookstore POS System`.`customers` (
            `id` INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
            `name` VARCHAR(255) NOT NULL,
            `email` VARCHAR(255),
            `tel` VARCHAR(15),
            `created_at` DATETIME,
            `updated_at` DATETIME
        );
    """)
    print("Customers table created successfully.")

except mysql.connector.Error as e:
    print("Error creating customers table:", e)

try:
    # Insert data into customers table
    cursor.execute("""
        INSERT INTO `Bookstore POS System`.`customers` (`name`, `email`, `tel`, `created_at`, `updated_at`) VALUES
        ('Irfan Bakti', 'irfan88@example.com', '+60123456789', '2019-08-07 08:13:21', '2019-08-07 08:13:21'),
        ('Jack Smmith', 'jack.smmith@acme.io', '+60132456781', '2019-08-07 08:13:21', '2019-08-07 08:13:21'),
        ('Nazir', NULL, '+601185434012', '2019-08-07 08:13:21', '2019-08-07 08:13:21'),
        ('Faiz Ma', 'faiz.ma@jholow.cn', '+6019772002', '2019-08-07 08:13:21', '2019-08-07 08:13:21'),
        ('Isham Rais', 'isham@pmo.gov.my', '+60135482020', '2019-08-07 08:13:21', '2019-08-07 08:13:21'),
        ('Shanon Teoh', 'shahnon.teoh@st.com.sg', NULL, '2019-08-07 08:13:21', '2019-08-07 08:13:21');
    """)
    print("Data inserted into customers table successfully.")

except mysql.connector.Error as e:
    print("Error inserting data into customers table:", e)

try:
    # Create invoices table
    cursor.execute("""
        CREATE TABLE IF NOT EXISTS `Bookstore POS System`.`invoices` (
            `id` INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
            `number` VARCHAR(255) NOT NULL,
            `sub_total` DECIMAL(10,2),
            `tax_total` DECIMAL(10,2),
            `total` DECIMAL(10,2),
            `customer_id` INT,
            `created_at` DATETIME,
            `updated_at` DATETIME,
            FOREIGN KEY (`customer_id`) REFERENCES `Bookstore POS System`.`customers`(`id`)
        );
    """)
    print("Invoices table created successfully.")

except mysql.connector.Error as e:
    print("Error creating invoices table:", e)

try:
    # Insert data into invoices table
    cursor.execute("""
        INSERT INTO `Bookstore POS System`.`invoices` (`number`, `sub_total`, `tax_total`, `total`, `customer_id`, `created_at`, `updated_at`) VALUES
        ('20190001', 30.00, 0.00, 30.00, 1, '2019-08-07 08:13:21', '2019-08-07 08:13:21'),
        ('20190002', 150.00, 0.00, 150.00, 2, '2019-08-07 08:13:21', '2019-08-07 08:13:21'),
        ('20190003', 30.00, 0.00, 30.00, 2, '2019-09-15 08:13:21', '2019-09-15 08:13:21'),
        ('20190004', 55.00, 0.00, 55.00, 3, '2019-09-15 08:13:21', '2019-09-15 08:13:21'),
        ('20190005', 450.00, 0.00, 0.00, 6, '2019-09-15 08:13:21', '2019-09-15 08:13:21');
    """)
    print("Data inserted into invoices table successfully.")

except mysql.connector.Error as e:
    print("Error inserting data into invoices table:", e)

try:
    # Create invoice_lines table
    cursor.execute("""
        CREATE TABLE IF NOT EXISTS `Bookstore POS System`.`invoice_lines` (
            `id` INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
            `description` VARCHAR(255) NOT NULL,
            `unit_price` DECIMAL(10,2),
            `quantity` INT,
            `sub_total` DECIMAL(10,2),
            `tax_total` DECIMAL(10,2),
            `total` DECIMAL(10,2),
            `tax_id` INT,
            `sku_id` INT,
            `invoice_id` INT,
            FOREIGN KEY (`invoice_id`) REFERENCES `Bookstore POS System`.`invoices`(`id`)
        );
    """)
    print("Invoice lines table created successfully.")

except mysql.connector.Error as e:
    print("Error creating invoice_lines table:", e)

try:
    # Insert data into invoice_lines table
    cursor.execute("""
        INSERT INTO `Bookstore POS System`.`invoice_lines` (`description`, `unit_price`, `quantity`, `sub_total`, `tax_total`, `total`, `tax_id`, `sku_id`, `invoice_id`) VALUES
        ('Book #1', 30.00, 1, 30.00, 0.00, 30.00, NULL, 1, 1),
        ('Book #2', 25.00, 4, 100.00, 0.00, 100.00, NULL, 2, 2),
        ('Book #3', 50.00, 1, 50.00, 0.00, 50.00, NULL, 3, 2),
        ('Book #1', 30.00, 1, 30.00, 0.00, 30.00, NULL, 1, 3),
        ('Book #1', 30.00, 1, 30.00, 0.00, 30.00, NULL, 1, 4),
        ('Book #2', 25.00, 1, 25.00, 0.00, 25.00, NULL, 2, 4),
        ('Book #1', 30.00, 5, 150.00, 0.00, 150.00, NULL, 1, 5),
        ('Book #3', 50.00, 6, 300.00, 0.00, 300.00, NULL, 3, 5);
    """)
    print("Data inserted into invoice_lines table successfully.")

except mysql.connector.Error as e:
    print("Error inserting data into invoice_lines table:", e)

Schema created successfully.
Customers table created successfully.
Data inserted into customers table successfully.
Invoices table created successfully.
Data inserted into invoices table successfully.
Invoice lines table created successfully.
Data inserted into invoice_lines table successfully.

#### Answer to question 2b

In [47]:
try:
    # Query: Number of customers purchasing more than 5 books
    cursor.execute("""
        SELECT COUNT(DISTINCT c.id) AS num_customers
        FROM `Bookstore POS System`.`customers` c
        INNER JOIN `Bookstore POS System`.`invoices` i ON c.id = i.customer_id
        INNER JOIN `Bookstore POS System`.`invoice_lines` il ON i.id = il.invoice_id
        GROUP BY c.id
        HAVING SUM(il.quantity) > 5;
    """)
    result = cursor.fetchall()
    print("Number of customers purchasing more than 5 books:", result[0][0])

except mysql.connector.Error as e:
    print("Error with query for number of customers purchasing more than 5 books:", e)

Number of customers purchasing more than 5 books: 1

#### Answer to question 2c

In [48]:
try:
    # Query: List of customers who never purchased anything
    cursor.execute("""
        SELECT *
        FROM `Bookstore POS System`.`customers`
        WHERE id NOT IN (
        SELECT DISTINCT customer_id
        FROM `Bookstore POS System`.`invoices`
        );
    """)
    result = cursor.fetchall()
    print("List of customers who never purchased anything:")
    for row in result:
        print(row)

except mysql.connector.Error as e:
    print("Error with query for list of customers who never purchased anything:", e)

List of customers who never purchased anything:
(4, 'Faiz Ma', 'faiz.ma@jholow.cn', '+6019772002', datetime.datetime(2019, 8, 7, 8, 13, 21), datetime.datetime(2019, 8, 7, 8, 13, 21))
(5, 'Isham Rais', 'isham@pmo.gov.my', '+60135482020', datetime.datetime(2019, 8, 7, 8, 13, 21), datetime.datetime(2019, 8, 7, 8, 13, 21))

#### Answer to question 2d

In [49]:
try:
    # Query: List of book purchased with the users
    cursor.execute("""
        SELECT DISTINCT c.id AS customer_id, c.name AS customer_name, il.description AS book_description
        FROM `Bookstore POS System`.`customers` c
        INNER JOIN `Bookstore POS System`.`invoices` i ON c.id = i.customer_id
        INNER JOIN `Bookstore POS System`.`invoice_lines` il ON i.id = il.invoice_id;
    """)
    result = cursor.fetchall()
    print("List of books purchased with the users:")
    for row in result:
        print(row)

except mysql.connector.Error as e:
    print("Error with query for list of books purchased with the users:", e)

finally:
    # Close cursor and connection
    if cursor:
        cursor.close()
    if conn:
        conn.close()

List of books purchased with the users:
(1, 'Irfan Bakti', 'Book #1')
(2, 'Jack Smmith', 'Book #2')
(2, 'Jack Smmith', 'Book #3')
(2, 'Jack Smmith', 'Book #1')
(3, 'Nazir', 'Book #1')
(3, 'Nazir', 'Book #2')
(6, 'Shanon Teoh', 'Book #1')
(6, 'Shanon Teoh', 'Book #3')